*~
*.o
*.a
.deps
.DS_Store
.dirstamp

/docs/kevedit.zml
/dosbox/kevedos.iso
/inst/dist
/inst/platform/windows/kevedit.iss
/inst/vendor/SDL*
/inst/vendor/kevedit*
/inst/work
/src/config.h
/src/config.h.in
/src/stamp-h1
/src/**/test
/src/kevedit/kevedit

Makefile
Makefile.in
/INSTALL
/aclocal.m4
/autom4te.cache
/buildinfo.h
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing

*.swp
